/* Lato Webfont */
@import '../bower/lato-font/scss/public-api';

$lato-font-path: '../fonts';

@include lato-include-font('bold');
@include lato-include-font('normal');
@include lato-include-font('light');
@include lato-include-font('hairline');


body {
    font-family: 'Lato';
}
.fa-btn {
    margin-right: 6px;
}

/* breadcrumb in navbar */
.nav .breadcrumb {
    margin: 0 7px;
    background-color: transparent;
}
@media (min-width: 768px) {
    .nav .breadcrumb {
        float: left;
        margin: 7px 10px;
    }
}

/* textarea with md preview */
.form-group.editor .editor-preview {
    padding: .5em 1em;
}


.avatar { border-radius: 10%; }

/* issue status icon in list group */
.issue-list > .issue > h4,
.issue-list > .issue> .issue-meta {
    margin-left: 24px;
}
.issue-list .issue-label {
    margin-left:3px;
}
.issue-sidebar .issue-label {
    display: block;
    text-align: left;
    font-size: 1em;
    margin-bottom: 0.5em;
    padding: .4em .6em .5em;
}

@media (min-width: 768px) {
    .with-avatar::before {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 6px;
        top: 10px;
        content: " ";
        border: 0;
        border-bottom: 1px solid #DBDADA;
        border-left: 1px solid #DBDADA;
        background-color: #F5F5F5;
        transform: rotate(45deg);
    }
}

.timeline {
    margin-bottom: 20px
}
.timeline::after {
    display: block;
    position: absolute;
    width: 5px;
    height: 20px;
    left: 35px;
    bottom: 0;
    content: " ";
    border: 0;
    background-color: #F5F5F5;
}
.timeline img { vertical-align: text-bottom; }
.iconbadge {
    display: inline-block;
    width: 32px; height: 32px;
    padding-left: 0;
    padding-top: 5px;
    text-align: center;
    border-radius: 100%;
    margin-left: 7px;
    margin-right: 0.8em;
    line-height: 25px;
    vertical-align: middle;
}
.bg-muted {
    background-color: #eeeeee;
}
@media (max-width: 768px) {
    .timeline::after {
        bottom: -20px;
    }
}

.newcomment {
    border-top: 3px solid #F5F5F5;
    padding-top: 2em;
}

.dropdown.flat {
    display: inline-block;
}
.panel-heading .dropdown.flat {
    margin-left: 1em;
}
.flat > a:hover,
a:hover.flat {
    text-decoration: none;
    cursor: pointer;
}

.dropdown-menu li { position: relative; }
.dropdown-menu li .label { margin-top: 3px; }

.dropdown-menu li .checkmark {
    position: absolute;
    right: 20px;
    top: 3px;
}

/* elemento non attivo in pil / nav */
.nav > li > span {
    position: relative;
    display: block;
    padding: 10px 15px;
}

/* checkboxes in lists */
li > input[type="checkbox"] {
    vertical-align: text-bottom;
}

/* pick-a-color */
.pick-a-color-colors { margin-bottom: 0.8em; }
